{% extends 'base.html'%}

{% block title %} Seja bem-vindo {% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm">
            
        </div>
        <div class="col-7">
            <h1>Seja bem-vindo</h1>
        </div>
        <div class="col-sm">
            {% if user.is_authenticated %}
                <p>Ola {{ user.username }}</p>
                <a href="{% url 'logout' %}">Sair</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-info">Entrar</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
      <span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Desenvolvimento web com Django 3.x</font></font></span>
    </div>
  </footer>

{% endblock %}